---
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
---

<article class="prose dark:prose-invert max-w-3xl mx-auto py-24">
{post && <h1>{post.data.title}</h1>}
  <slot />
</article>
