@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "@pelagornis/page/styles"; */
:root{
   /* --page-bg: #101325 !important; */
}
@layer starlight.base {
  :root {

     /* --sl-color-bg-nav: #101325;
    --sl-color-bg-sidebar: #101325;
    --sl-color-text-base: white;
     --page-bg: rgb(var(--color-background)) !important; */
  }
}
/* @layer base {
  :root {
    --color-background: #101325;
    --color-primary: 199, 144, 0;
    --color-surface: 33, 32, 71;
    --page-bg: rgb(var(--color-background)) !important;
   
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(var(--color-background));
    color: white;
    font-family: 'Titillium Web', sans-serif;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }
} */
